import React from 'react';

export interface Props {

}

const {{properCase name }} = ({ }: Props) => {
return (
<div>
</div>
);
}

{{ properCase name }}.defaultProps = {};

export default React.memo({{ properCase name }});